
celebmoji.xcodeproj/project.xcworkspace/contents.xcworkspacedata

celebmoji.xcodeproj/project.xcworkspace/xcuserdata/developer.xcuserdatad/UserInterfaceState.xcuserstate

celebmoji.xcodeproj/xcuserdata/developer.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

celebmoji.xcodeproj/xcuserdata/developer.xcuserdatad/xcschemes/MessagesExtension.xcscheme

celebmoji.xcodeproj/xcuserdata/developer.xcuserdatad/xcschemes/xcschememanagement.plist
